body {
  font-family: Arvo;
}

.card-container {
  position: relative;
  top: 0px;
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper {
  background-image:  url("./images/wavy-dots.png");
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  overflow: auto;
}

.navbar {
  position: fixed;
  top: 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1000;
  height: 90px;
  width: 99%;
  margin-top: 0px;
  /* background:linear-gradient(to top, #00ffff 0%, #0033cc 100%) ; */
  background-image: url("./images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar .logo {
  margin: 10px;
  color:white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}

.navMessage {
  padding: 20px;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  margin-left: 160px;
}

.navbar .score {
  margin: 10px;
  color:white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.score p {
  margin: 0 20px;
}

.card {
  background: #fff;
  border-radius: 2px;
  height: 225px;
  margin: 1.2rem;
  position: relative;
  width: 225px;
  -webkit-box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card:hover {
  -webkit-box-shadow: 0 15px 18px #999, 0 15px 18px #999;
  box-shadow: 0 15px 18px #999, 0 15px 18px #999;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card>.img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.card>.img-container>img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 80%;
  height: 90%;
}

.card>.content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card>.content>ul {
  list-style-type: none;
}

.card>.content>ul>li {
  margin-top: 18px;
}

footer {
  background:linear-gradient(to bottom, #ffff99 0%, #663300 100%);
  text-align: center;
  padding: 50px 0;
  width: 100%;
}

.header {
  /* background: linear-gradient(to bottom, #33ccff 0%, #33cc33 100%); */
  background-image: url("./images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 100px;
  padding: 110px 90px;
  padding-bottom: 40px;
  text-align: center;
  width: 100%;
}

.header h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 4rem;
}

